/*Encabezado*/
.contenedor {
  font-family: serif;
  font-size: 20pt;
}

header {
  display: flex;
  height: 70px;
  background-color: coral;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}


nav a{
  font-weight: 600;
  padding right: 10px;
}

nav a:hover {
  color: blue;
}

/*finencabezado*/ 

body {
  font-family: "Times New Roman";
  margin: 0;
}

h1,h2 {
  text-align: center;
}